## Codificación de las variables categoricas y escalado

**Elaborado por:** Jazmín Fernández Ramírez, Jacqueline Fernández Ramírez y Nina Odoux.
Máster Universitario de Ciencia de Datos (MUCD) - CUNEF Universidad.

En esta sección, nos enfocaremos en preparar nuestros datos para su uso en modelos de machine learning. Empezaremos con la codificación de las variables categóricas, transformando datos categóricos en un formato numérico utilizando técnicas como One Hot Encoding y TargetEncoding. Esto garantiza que las variables categóricas sean interpretadas adecuadamente por los modelos. Posteriormente, aplicaremos técnicas de escalado para normalizar los datos, asegurando que todas las características contribuyan de manera equitativa al entrenamiento del modelo. Finalmente, desarrollaremos y evaluaremos el rendimiento de un modelo de machine learning, utilizando algoritmos avanzados para detectar y predecir el fraude en cuentas bancarias. Este proceso integral es crucial para maximizar la precisión y eficacia de nuestras predicciones.

## Importación de librerías

Previamente se tuvo que instalar con el comando install la librería category_encoders

In [90]:
import pandas as pd 
import numpy as np
import sklearn
from sklearn.pipeline import Pipeline
from sklearn import metrics
import category_encoders as ce
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import GradientBoostingClassifier
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.preprocessing import StandardScaler
from category_encoders import TargetEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, auc, \
                            silhouette_score, recall_score, precision_score, make_scorer, \
                            roc_auc_score, f1_score, precision_recall_curve, accuracy_score, roc_auc_score, \
                            classification_report, confusion_matrix
from sklearn.compose import ColumnTransformer
from sklearn import metrics
from sklearn.metrics import plot_confusion_matrix
seed = np.random.seed(123)

In [92]:
df_application_train = pd.read_csv("../data/preprocessed_data/train_preprocessed_missing_outlier.csv")
df_application_test = pd.read_csv("../data/preprocessed_data/test_preprocessed_missing_outlier.csv")

# Display the first rows of the DataFrame for verification
print("First rows of the training set:")
print(df_application_train.head())

print("First rows of the test set:")
print(df_application_test.head())

First rows of the training set:
   COMMONAREA_MEDI  COMMONAREA_AVG  COMMONAREA_MODE  NONLIVINGAPARTMENTS_MODE  \
0         -99.0000        -99.0000         -99.0000                  -99.0000
1           0.0172          0.0171           0.0173                    0.0039
2         -99.0000        -99.0000         -99.0000                  -99.0000
3           0.1372          0.1363           0.1376                    0.0000
4           0.0109          0.0109           0.0110                    0.0000

   NONLIVINGAPARTMENTS_AVG  NONLIVINGAPARTMENTS_MEDI FONDKAPREMONT_MODE  \
0                 -99.0000                  -99.0000           NO VALUE
1                   0.0039                    0.0039   reg oper account
2                 -99.0000                  -99.0000           NO VALUE
3                   0.0000                    0.0000           NO VALUE
4                   0.0000                    0.0000   reg oper account

   LIVINGAPARTMENTS_MODE  LIVINGAPARTMENTS_AVG  LIVINGAPARTMENTS_MEDI  ...  \
0               -99.0000              -99.0000               -99.0000  ...
1                 0.0661                0.0605                 0.0616  ...
2               -99.0000              -99.0000               -99.0000  ...
3                 0.1745                0.1597                 0.1625  ...
4                 0.0505                0.0462                 0.0470  ...

   DAYS_REGISTRATION  DAYS_EMPLOYED  DAYS_BIRTH  REGION_POPULATION_RELATIVE  \
0            -7782.0          -1102      -18074                    0.022625
1            -9254.0          -6129      -19562                    0.028663
2            -9887.0          -1294      -15775                    0.026392
3            -2294.0         -13389      -21145                    0.010276
4             -398.0         365243      -22949                    0.028663

   NAME_HOUSING_TYPE  NAME_FAMILY_STATUS            NAME_EDUCATION_TYPE  \
0  House / apartment             Married  Secondary / secondary special
1  House / apartment             Married  Secondary / secondary special
2  House / apartment             Married  Secondary / secondary special
3  House / apartment      Civil marriage  Secondary / secondary special
4  House / apartment           Separated  Secondary / secondary special

   NAME_INCOME_TYPE  SK_ID_CURR  TARGET
0           Working      454112       0
1           Working      276860       0
2           Working      174331       0
3           Working      128326       0
4         Pensioner      237052       0

[5 rows x 122 columns]
First rows of the test set:
   COMMONAREA_MEDI  COMMONAREA_AVG  COMMONAREA_MODE  NONLIVINGAPARTMENTS_MODE  \
0         -99.0000        -99.0000         -99.0000                  -99.0000
1         -99.0000        -99.0000         -99.0000                  -99.0000
2           0.0438          0.0435           0.0439                    0.0117
3         -99.0000        -99.0000         -99.0000                  -99.0000
4           0.0000          0.0000           0.0000                    0.0000

   NONLIVINGAPARTMENTS_AVG  NONLIVINGAPARTMENTS_MEDI FONDKAPREMONT_MODE  \
0                 -99.0000                  -99.0000           NO VALUE
1                 -99.0000                  -99.0000           NO VALUE
2                   0.0116                    0.0116   reg oper account
3                 -99.0000                  -99.0000           NO VALUE
4                   0.0000                    0.0000   reg oper account

   LIVINGAPARTMENTS_MODE  LIVINGAPARTMENTS_AVG  LIVINGAPARTMENTS_MEDI  ...  \
0               -99.0000              -99.0000               -99.0000  ...
1               -99.0000              -99.0000               -99.0000  ...
2                 0.0624                0.0572                 0.0581  ...
3               -99.0000              -99.0000               -99.0000  ...
4                 0.1983                0.1816                 0.1847  ...

   DAYS_REGISTRATION  DAYS_EMPLOYED  DAYS_BIRTH  REGION_POPULATION_RELATIVE  \
0            -5601.0           -949      -18786                    0.003069
1            -4142.0          -3015      -19433                    0.009175
2            -1007.0           -678      -15941                    0.010032
3            -5258.0          -6578      -14748                    0.010276
4            -7002.0         365243      -22129                    0.010643

   NAME_HOUSING_TYPE  NAME_FAMILY_STATUS            NAME_EDUCATION_TYPE  \
0  House / apartment      Civil marriage              Incomplete higher
1  House / apartment             Married  Secondary / secondary special
2  House / apartment      Civil marriage  Secondary / secondary special
3  House / apartment             Married               Higher education
4  House / apartment      Civil marriage  Secondary / secondary special

       NAME_INCOME_TYPE  SK_ID_CURR  TARGET
0               Working      171458       0
1               Working      213619       0
2               Working      135905       0
3  Commercial associate      345017       0
4             Pensioner      155332       0

[5 rows x 122 columns]

In [94]:
df_application_train.columns

Index(['COMMONAREA_MEDI', 'COMMONAREA_AVG', 'COMMONAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAPARTMENTS_MEDI', 'FONDKAPREMONT_MODE',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAPARTMENTS_MEDI',
       ...
       'DAYS_REGISTRATION', 'DAYS_EMPLOYED', 'DAYS_BIRTH',
       'REGION_POPULATION_RELATIVE', 'NAME_HOUSING_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_EDUCATION_TYPE', 'NAME_INCOME_TYPE', 'SK_ID_CURR', 'TARGET'],
      dtype='object', length=122)

In [96]:
df_application_train.dtypes

COMMONAREA_MEDI             float64
COMMONAREA_AVG              float64
COMMONAREA_MODE             float64
NONLIVINGAPARTMENTS_MODE    float64
NONLIVINGAPARTMENTS_AVG     float64
                             ...
NAME_FAMILY_STATUS           object
NAME_EDUCATION_TYPE          object
NAME_INCOME_TYPE             object
SK_ID_CURR                    int64
TARGET                        int64
Length: 122, dtype: object

## Codificación de la variable objetivo

* 1: Cliente con pagos retrasados en las primeras cuotas del préstamo.

* 0: Cliente sin pagos retrasados en las primeras cuotas del préstamo.

In [99]:
df_application_train['TARGET'].value_counts()

0    226148
1     19860
Name: TARGET, dtype: int64

In [101]:
# Ensure the 'TARGET' column is typed as an integer
df_application_train['TARGET'] = df_application_train['TARGET'].astype(int)
df_application_test['TARGET'] = df_application_test['TARGET'].astype(int)

# Verify the results
print(df_application_train['TARGET'].dtype)
print(df_application_test['TARGET'].dtype)

# Display the distribution of values in 'TARGET'
print(df_application_train['TARGET'].value_counts())
print(df_application_test['TARGET'].value_counts())

int32
int32
0    226148
1     19860
Name: TARGET, dtype: int64
0    56538
1     4965
Name: TARGET, dtype: int64

## Verificación

Este código también incluye una verificación para asegurarnos de que la columna TARGET está correctamente tipificada y muestra la distribución de valores en la columna TARGET.

In [104]:
X_train = df_application_train.drop('TARGET',axis=1)
X_test = df_application_test.drop('TARGET',axis=1)
y_train = df_application_train['TARGET']
y_test = df_application_test['TARGET']

## Codificación del resto de variables categóricas

En esta fase, vamos a transformar las variables categóricas de nuestro conjunto de datos en números que los modelos de machine learning puedan entender. Utilizaremos diferentes técnicas según el tipo de variable. Para las variables sin un orden específico, aplicaremos One Hot Encoding, lo que significa que cada categoría se convertirá en una columna separada con valores binarios (0 o 1). Esto ayuda a que los modelos traten cada categoría de manera independiente y justa.

Para algunas variables clave, usaremos Target Encoding, que asigna un valor numérico basado en su relación con la variable objetivo. Este enfoque permite capturar la importancia de ciertas categorías en la predicción del fraude en cuentas bancarias, maximizando así la precisión de nuestros modelos. Al combinar estos métodos, nos aseguramos de que los datos estén bien preparados y listos para entrenar modelos efectivos y fiables.

In [108]:
list_columns_cat = list(X_train.select_dtypes("object", "category").columns)
list_other = list(set(X_train.columns)-set(list_columns_cat))

print(list_columns_cat)
print(list_other)

['FONDKAPREMONT_MODE', 'WALLSMATERIAL_MODE', 'HOUSETYPE_MODE', 'EMERGENCYSTATE_MODE', 'OCCUPATION_TYPE', 'NAME_TYPE_SUITE', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'NAME_HOUSING_TYPE', 'NAME_FAMILY_STATUS', 'NAME_EDUCATION_TYPE', 'NAME_INCOME_TYPE']
['FLAG_DOCUMENT_15', 'DAYS_BIRTH', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_4', 'FLAG_MOBIL', 'DAYS_REGISTRATION', 'ENTRANCES_MODE', 'FLOORSMIN_MEDI', 'LIVINGAPARTMENTS_MEDI', 'FLAG_WORK_PHONE', 'LANDAREA_MEDI', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'LIVINGAPARTMENTS_MODE', 'REGION_POPULATION_RELATIVE', 'COMMONAREA_MODE', 'NONLIVINGAREA_MODE', 'LIVINGAREA_AVG', 'FLAG_DOCUMENT_11', 'AMT_INCOME_TOTAL', 'FLAG_PHONE', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'OWN_CAR_AGE', 'FLAG_DOCUMENT_10', 'EXT_SOURCE_2', 'NONLIVINGAPARTMENTS_AVG', 'EXT_SOURCE_3', 'HOUR_APPR_PROCESS_START', 'YEARS_BUILD_MODE', 'REG_REGION_NOT_LIVE_REGION', 'CNT_CHILDREN', 'FLAG_EMAIL', 'AMT_REQ_CREDIT_BUREAU_DAY', 'LANDAREA_AVG', 'FLAG_DOCUMENT_18', 'APARTMENTS_MODE', 'FLOORSMAX_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVE_REGION_NOT_WORK_REGION', 'FLAG_DOCUMENT_13', 'YEARS_BEGINEXPLUATATION_MEDI', 'AMT_CREDIT', 'YEARS_BUILD_AVG', 'REGION_RATING_CLIENT', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_GOODS_PRICE', 'SK_ID_CURR', 'ENTRANCES_AVG', 'FLOORSMIN_AVG', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_7', 'EXT_SOURCE_1', 'REGION_RATING_CLIENT_W_CITY', 'AMT_REQ_CREDIT_BUREAU_QRT', 'LIVE_CITY_NOT_WORK_CITY', 'FLOORSMIN_MODE', 'TOTALAREA_MODE', 'REG_REGION_NOT_WORK_REGION', 'FLAG_CONT_MOBILE', 'BASEMENTAREA_AVG', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'FLAG_DOCUMENT_12', 'ELEVATORS_MEDI', 'FLAG_DOCUMENT_5', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_AVG', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_17', 'CNT_FAM_MEMBERS', 'OBS_60_CNT_SOCIAL_CIRCLE', 'NONLIVINGAPARTMENTS_MEDI', 'AMT_ANNUITY', 'ELEVATORS_MODE', 'FLOORSMAX_MEDI', 'FLAG_EMP_PHONE', 'NONLIVINGAPARTMENTS_MODE', 'FLAG_DOCUMENT_16', 'COMMONAREA_AVG', 'YEARS_BUILD_MEDI', 'FLAG_DOCUMENT_19', 'LIVINGAREA_MEDI', 'DAYS_ID_PUBLISH', 'FLAG_DOCUMENT_14', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'BASEMENTAREA_MEDI', 'NONLIVINGAREA_MEDI', 'APARTMENTS_AVG', 'FLOORSMAX_MODE', 'APARTMENTS_MEDI', 'ENTRANCES_MEDI', 'FLAG_DOCUMENT_21', 'YEARS_BEGINEXPLUATATION_MODE', 'NONLIVINGAREA_AVG', 'REG_CITY_NOT_LIVE_CITY', 'FLAG_DOCUMENT_3', 'COMMONAREA_MEDI', 'FLAG_DOCUMENT_2', 'REG_CITY_NOT_WORK_CITY', 'OBS_30_CNT_SOCIAL_CIRCLE', 'LIVINGAREA_MODE', 'LANDAREA_MODE', 'DAYS_EMPLOYED', 'ELEVATORS_AVG']

## Verificar el número de categorías

En primera instancia, se crea una función que cuente el número de categorías en cada una de las variables categóricas.

In [110]:
# Check the number of categories in each categorical variable
def count_categories(df, cat_columns):
    cat_counts = {}
    for col in cat_columns:
        cat_counts[col] = df[col].nunique()
    return pd.Series(cat_counts).sort_values(ascending=False)

# Count the categories in the categorical variables of X_train
category_counts = count_categories(X_train, list_columns_cat)

# Display the number of categories in each categorical variable
print("Number of categories in each categorical variable:")
print(category_counts)

Number of categories in each categorical variable:
ORGANIZATION_TYPE             58
OCCUPATION_TYPE               19
WALLSMATERIAL_MODE             8
NAME_TYPE_SUITE                8
NAME_INCOME_TYPE               8
WEEKDAY_APPR_PROCESS_START     7
NAME_HOUSING_TYPE              6
NAME_FAMILY_STATUS             6
FONDKAPREMONT_MODE             5
NAME_EDUCATION_TYPE            5
HOUSETYPE_MODE                 4
EMERGENCYSTATE_MODE            3
CODE_GENDER                    3
NAME_CONTRACT_TYPE             2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
dtype: int64

## Decidir tipo de codificación

Con base en el número de categorías, se puede seleccionar cuál método de codificación emplear, como se detalla a continuación,

* One-Hot Encoding: Apto para variables con un número bajo de categorías.
* Target Encoding: Apto para variables con un número alto de categorías para evitar la creación de demasiadas columnas.

In [112]:
# Define thresholds to decide the type of encoding
threshold_one_hot = 10  # We can adjust this value according to our needs, here it made sense to apply OH for 10 variables

# Variables for One-Hot Encoding and Target Encoding
one_hot_columns = category_counts[category_counts <= threshold_one_hot].index.tolist()
target_encoding_columns = category_counts[category_counts > threshold_one_hot].index.tolist()

print("Variables for One-Hot Encoding:", one_hot_columns)
print("Variables for Target Encoding:", target_encoding_columns)

Variables for One-Hot Encoding: ['WALLSMATERIAL_MODE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'NAME_HOUSING_TYPE', 'NAME_FAMILY_STATUS', 'FONDKAPREMONT_MODE', 'NAME_EDUCATION_TYPE', 'HOUSETYPE_MODE', 'EMERGENCYSTATE_MODE', 'CODE_GENDER', 'NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']
Variables for Target Encoding: ['ORGANIZATION_TYPE', 'OCCUPATION_TYPE']

In [114]:
# List of variables for One-Hot Encoding
one_hot_columns = ['WALLSMATERIAL_MODE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'WEEKDAY_APPR_PROCESS_START', 
                   'NAME_HOUSING_TYPE', 'NAME_FAMILY_STATUS', 'FONDKAPREMONT_MODE', 'NAME_EDUCATION_TYPE', 
                   'HOUSETYPE_MODE', 'EMERGENCYSTATE_MODE', 'CODE_GENDER', 'NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR', 
                   'FLAG_OWN_REALTY']

# Apply One-Hot Encoding
one_hot_encoder = OneHotEncoder(sparse=False, drop='first')
one_hot_encoded = one_hot_encoder.fit_transform(X_train[one_hot_columns])

# Create a DataFrame with the One-Hot Encoded variables
one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=one_hot_encoder.get_feature_names(one_hot_columns))

# Combine the original DataFrame with the One-Hot Encoded variables
X_train = X_train.drop(one_hot_columns, axis=1)
X_train = pd.concat([X_train.reset_index(drop=True), one_hot_encoded_df.reset_index(drop=True)], axis=1)

# List of variables for Target Encoding
target_encoding_columns = ['ORGANIZATION_TYPE', 'OCCUPATION_TYPE']

# Apply Target Encoding
target_encoder = TargetEncoder(cols=target_encoding_columns)
X_train[target_encoding_columns] = target_encoder.fit_transform(X_train[target_encoding_columns], y_train)

# Verify the first rows of the DataFrame after One-Hot Encoding and Target Encoding
print("First rows of the DataFrame after One-Hot Encoding and Target Encoding:")
print(X_train.head())

# Verify the dimensions of the DataFrame
print("Dimensions of the DataFrame:")
print(X_train.shape)

First rows of the DataFrame after One-Hot Encoding and Target Encoding:
   COMMONAREA_MEDI  COMMONAREA_AVG  COMMONAREA_MODE  NONLIVINGAPARTMENTS_MODE  \
0         -99.0000        -99.0000         -99.0000                  -99.0000
1           0.0172          0.0171           0.0173                    0.0039
2         -99.0000        -99.0000         -99.0000                  -99.0000
3           0.1372          0.1363           0.1376                    0.0000
4           0.0109          0.0109           0.0110                    0.0000

   NONLIVINGAPARTMENTS_AVG  NONLIVINGAPARTMENTS_MEDI  LIVINGAPARTMENTS_MODE  \
0                 -99.0000                  -99.0000               -99.0000
1                   0.0039                    0.0039                 0.0661
2                 -99.0000                  -99.0000               -99.0000
3                   0.0000                    0.0000                 0.1745
4                   0.0000                    0.0000                 0.0505

   LIVINGAPARTMENTS_AVG  LIVINGAPARTMENTS_MEDI  FLOORSMIN_AVG  ...  \
0              -99.0000               -99.0000       -99.0000  ...
1                0.0605                 0.0616         0.3750  ...
2              -99.0000               -99.0000       -99.0000  ...
3                0.1597                 0.1625         0.4167  ...
4                0.0462                 0.0470         0.2083  ...

   HOUSETYPE_MODE_block of flats  HOUSETYPE_MODE_specific housing  \
0                            1.0                              0.0
1                            1.0                              0.0
2                            0.0                              0.0
3                            1.0                              0.0
4                            1.0                              0.0

   HOUSETYPE_MODE_terraced house  EMERGENCYSTATE_MODE_No  \
0                            0.0                     1.0
1                            0.0                     1.0
2                            0.0                     0.0
3                            0.0                     1.0
4                            0.0                     1.0

   EMERGENCYSTATE_MODE_Yes  CODE_GENDER_M  CODE_GENDER_XNA  \
0                      0.0            1.0              0.0
1                      0.0            1.0              0.0
2                      0.0            0.0              0.0
3                      0.0            1.0              0.0
4                      0.0            0.0              0.0

   NAME_CONTRACT_TYPE_Revolving loans  FLAG_OWN_CAR_Y  FLAG_OWN_REALTY_Y
0                                 0.0             1.0                1.0
1                                 0.0             0.0                1.0
2                                 0.0             0.0                1.0
3                                 0.0             0.0                1.0
4                                 0.0             0.0                1.0

[5 rows x 162 columns]
Dimensions of the DataFrame:
(246008, 162)

In [116]:
X_train.dtypes.to_dict()

{'COMMONAREA_MEDI': dtype('float64'),
 'COMMONAREA_AVG': dtype('float64'),
 'COMMONAREA_MODE': dtype('float64'),
 'NONLIVINGAPARTMENTS_MODE': dtype('float64'),
 'NONLIVINGAPARTMENTS_AVG': dtype('float64'),
 'NONLIVINGAPARTMENTS_MEDI': dtype('float64'),
 'LIVINGAPARTMENTS_MODE': dtype('float64'),
 'LIVINGAPARTMENTS_AVG': dtype('float64'),
 'LIVINGAPARTMENTS_MEDI': dtype('float64'),
 'FLOORSMIN_AVG': dtype('float64'),
 'FLOORSMIN_MODE': dtype('float64'),
 'FLOORSMIN_MEDI': dtype('float64'),
 'YEARS_BUILD_MEDI': dtype('float64'),
 'YEARS_BUILD_MODE': dtype('float64'),
 'YEARS_BUILD_AVG': dtype('float64'),
 'OWN_CAR_AGE': dtype('float64'),
 'LANDAREA_MEDI': dtype('float64'),
 'LANDAREA_MODE': dtype('float64'),
 'LANDAREA_AVG': dtype('float64'),
 'BASEMENTAREA_MEDI': dtype('float64'),
 'BASEMENTAREA_AVG': dtype('float64'),
 'BASEMENTAREA_MODE': dtype('float64'),
 'EXT_SOURCE_1': dtype('float64'),
 'NONLIVINGAREA_MODE': dtype('float64'),
 'NONLIVINGAREA_AVG': dtype('float64'),
 'NONLIVINGAREA_MEDI': dtype('float64'),
 'ELEVATORS_MEDI': dtype('float64'),
 'ELEVATORS_AVG': dtype('float64'),
 'ELEVATORS_MODE': dtype('float64'),
 'APARTMENTS_MEDI': dtype('float64'),
 'APARTMENTS_AVG': dtype('float64'),
 'APARTMENTS_MODE': dtype('float64'),
 'ENTRANCES_MEDI': dtype('float64'),
 'ENTRANCES_AVG': dtype('float64'),
 'ENTRANCES_MODE': dtype('float64'),
 'LIVINGAREA_AVG': dtype('float64'),
 'LIVINGAREA_MODE': dtype('float64'),
 'LIVINGAREA_MEDI': dtype('float64'),
 'FLOORSMAX_MODE': dtype('float64'),
 'FLOORSMAX_MEDI': dtype('float64'),
 'FLOORSMAX_AVG': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_MODE': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_MEDI': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_AVG': dtype('float64'),
 'TOTALAREA_MODE': dtype('float64'),
 'OCCUPATION_TYPE': dtype('float64'),
 'EXT_SOURCE_3': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_HOUR': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_DAY': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_WEEK': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_MON': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_QRT': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_YEAR': dtype('float64'),
 'OBS_30_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'DEF_30_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'OBS_60_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'DEF_60_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'EXT_SOURCE_2': dtype('float64'),
 'AMT_GOODS_PRICE': dtype('float64'),
 'AMT_ANNUITY': dtype('float64'),
 'CNT_FAM_MEMBERS': dtype('float64'),
 'DAYS_LAST_PHONE_CHANGE': dtype('float64'),
 'CNT_CHILDREN': dtype('int64'),
 'FLAG_DOCUMENT_8': dtype('int64'),
 'FLAG_DOCUMENT_2': dtype('int64'),
 'FLAG_DOCUMENT_3': dtype('int64'),
 'FLAG_DOCUMENT_4': dtype('int64'),
 'FLAG_DOCUMENT_5': dtype('int64'),
 'FLAG_DOCUMENT_6': dtype('int64'),
 'FLAG_DOCUMENT_7': dtype('int64'),
 'FLAG_DOCUMENT_9': dtype('int64'),
 'FLAG_DOCUMENT_21': dtype('int64'),
 'FLAG_DOCUMENT_10': dtype('int64'),
 'FLAG_DOCUMENT_11': dtype('int64'),
 'FLAG_DOCUMENT_13': dtype('int64'),
 'FLAG_DOCUMENT_14': dtype('int64'),
 'FLAG_DOCUMENT_15': dtype('int64'),
 'FLAG_DOCUMENT_16': dtype('int64'),
 'FLAG_DOCUMENT_17': dtype('int64'),
 'FLAG_DOCUMENT_18': dtype('int64'),
 'FLAG_DOCUMENT_19': dtype('int64'),
 'FLAG_DOCUMENT_20': dtype('int64'),
 'FLAG_DOCUMENT_12': dtype('int64'),
 'AMT_CREDIT': dtype('float64'),
 'AMT_INCOME_TOTAL': dtype('float64'),
 'FLAG_PHONE': dtype('int64'),
 'LIVE_CITY_NOT_WORK_CITY': dtype('int64'),
 'REG_CITY_NOT_WORK_CITY': dtype('int64'),
 'REG_CITY_NOT_LIVE_CITY': dtype('int64'),
 'LIVE_REGION_NOT_WORK_REGION': dtype('int64'),
 'REG_REGION_NOT_WORK_REGION': dtype('int64'),
 'REG_REGION_NOT_LIVE_REGION': dtype('int64'),
 'HOUR_APPR_PROCESS_START': dtype('int64'),
 'REGION_RATING_CLIENT_W_CITY': dtype('int64'),
 'REGION_RATING_CLIENT': dtype('int64'),
 'FLAG_EMAIL': dtype('int64'),
 'FLAG_CONT_MOBILE': dtype('int64'),
 'ORGANIZATION_TYPE': dtype('float64'),
 'FLAG_WORK_PHONE': dtype('int64'),
 'FLAG_EMP_PHONE': dtype('int64'),
 'FLAG_MOBIL': dtype('int64'),
 'DAYS_ID_PUBLISH': dtype('int64'),
 'DAYS_REGISTRATION': dtype('float64'),
 'DAYS_EMPLOYED': dtype('int64'),
 'DAYS_BIRTH': dtype('int64'),
 'REGION_POPULATION_RELATIVE': dtype('float64'),
 'SK_ID_CURR': dtype('int64'),
 'WALLSMATERIAL_MODE_Mixed': dtype('float64'),
 'WALLSMATERIAL_MODE_Monolithic': dtype('float64'),
 'WALLSMATERIAL_MODE_NO VALUE': dtype('float64'),
 'WALLSMATERIAL_MODE_Others': dtype('float64'),
 'WALLSMATERIAL_MODE_Panel': dtype('float64'),
 'WALLSMATERIAL_MODE_Stone, brick': dtype('float64'),
 'WALLSMATERIAL_MODE_Wooden': dtype('float64'),
 'NAME_TYPE_SUITE_Family': dtype('float64'),
 'NAME_TYPE_SUITE_Group of people': dtype('float64'),
 'NAME_TYPE_SUITE_NO VALUE': dtype('float64'),
 'NAME_TYPE_SUITE_Other_A': dtype('float64'),
 'NAME_TYPE_SUITE_Other_B': dtype('float64'),
 'NAME_TYPE_SUITE_Spouse, partner': dtype('float64'),
 'NAME_TYPE_SUITE_Unaccompanied': dtype('float64'),
 'NAME_INCOME_TYPE_Commercial associate': dtype('float64'),
 'NAME_INCOME_TYPE_Maternity leave': dtype('float64'),
 'NAME_INCOME_TYPE_Pensioner': dtype('float64'),
 'NAME_INCOME_TYPE_State servant': dtype('float64'),
 'NAME_INCOME_TYPE_Student': dtype('float64'),
 'NAME_INCOME_TYPE_Unemployed': dtype('float64'),
 'NAME_INCOME_TYPE_Working': dtype('float64'),
 'WEEKDAY_APPR_PROCESS_START_MONDAY': dtype('float64'),
 'WEEKDAY_APPR_PROCESS_START_SATURDAY': dtype('float64'),
 'WEEKDAY_APPR_PROCESS_START_SUNDAY': dtype('float64'),
 'WEEKDAY_APPR_PROCESS_START_THURSDAY': dtype('float64'),
 'WEEKDAY_APPR_PROCESS_START_TUESDAY': dtype('float64'),
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY': dtype('float64'),
 'NAME_HOUSING_TYPE_House / apartment': dtype('float64'),
 'NAME_HOUSING_TYPE_Municipal apartment': dtype('float64'),
 'NAME_HOUSING_TYPE_Office apartment': dtype('float64'),
 'NAME_HOUSING_TYPE_Rented apartment': dtype('float64'),
 'NAME_HOUSING_TYPE_With parents': dtype('float64'),
 'NAME_FAMILY_STATUS_Married': dtype('float64'),
 'NAME_FAMILY_STATUS_Separated': dtype('float64'),
 'NAME_FAMILY_STATUS_Single / not married': dtype('float64'),
 'NAME_FAMILY_STATUS_Unknown': dtype('float64'),
 'NAME_FAMILY_STATUS_Widow': dtype('float64'),
 'FONDKAPREMONT_MODE_not specified': dtype('float64'),
 'FONDKAPREMONT_MODE_org spec account': dtype('float64'),
 'FONDKAPREMONT_MODE_reg oper account': dtype('float64'),
 'FONDKAPREMONT_MODE_reg oper spec account': dtype('float64'),
 'NAME_EDUCATION_TYPE_Higher education': dtype('float64'),
 'NAME_EDUCATION_TYPE_Incomplete higher': dtype('float64'),
 'NAME_EDUCATION_TYPE_Lower secondary': dtype('float64'),
 'NAME_EDUCATION_TYPE_Secondary / secondary special': dtype('float64'),
 'HOUSETYPE_MODE_block of flats': dtype('float64'),
 'HOUSETYPE_MODE_specific housing': dtype('float64'),
 'HOUSETYPE_MODE_terraced house': dtype('float64'),
 'EMERGENCYSTATE_MODE_No': dtype('float64'),
 'EMERGENCYSTATE_MODE_Yes': dtype('float64'),
 'CODE_GENDER_M': dtype('float64'),
 'CODE_GENDER_XNA': dtype('float64'),
 'NAME_CONTRACT_TYPE_Revolving loans': dtype('float64'),
 'FLAG_OWN_CAR_Y': dtype('float64'),
 'FLAG_OWN_REALTY_Y': dtype('float64')}

## Justificación

* **Variables Codificadas con One-Hot Encoding:**

En nuestro DataFrame, algunas variables categóricas han sido codificadas utilizando One-Hot Encoding. Este proceso ha transformado cada categoría de variables como 'WALLSMATERIAL_MODE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', entre otras, en nuevas columnas que representan cada categoría individualmente. Estas nuevas columnas tienen sufijos que indican la categoría correspondiente y están tipificadas como float64, lo que confirma que la codificación se ha realizado correctamente. Por ejemplo, ahora encontramos columnas como 'WALLSMATERIAL_MODE_Mixed', 'NAME_TYPE_SUITE_Family', y 'NAME_INCOME_TYPE_Commercial associate', entre otras.

* **Variables Codificadas con Target Encoding:**

Para otras variables, como 'ORGANIZATION_TYPE' y 'OCCUPATION_TYPE', hemos aplicado Target Encoding. Este método ha reemplazado cada categoría con el promedio de la variable objetivo asociada, asegurando que las nuevas columnas sean de tipo float64. Así, cada categoría se convierte en un valor que refleja su relación con la variable objetivo, facilitando un análisis más preciso y significativo.

## Escalado de las variables

El escalado de las variables es un paso fundamental en el preprocesamiento de datos para modelos de machine learning. Este proceso garantiza que todas las características contribuyan de manera equitativa durante el entrenamiento del modelo, evitando que algunas variables dominen sobre otras debido a diferencias en la escala de sus valores. Utilizaremos técnicas de escalado proporcionadas por Scikit-learn, una biblioteca ampliamente reconocida en el ámbito del aprendizaje automático. Estas técnicas ajustarán las características a una escala común, mejorando así la precisión y la eficiencia de nuestros algoritmos predictivos. A continuación, se presenta el código de escalado que se implementará:

In [119]:
print("Available columns in X_train:")
print(X_train.columns.tolist())

Available columns in X_train:
['COMMONAREA_MEDI', 'COMMONAREA_AVG', 'COMMONAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAPARTMENTS_MEDI', 'LIVINGAPARTMENTS_MODE', 'LIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_MEDI', 'FLOORSMIN_AVG', 'FLOORSMIN_MODE', 'FLOORSMIN_MEDI', 'YEARS_BUILD_MEDI', 'YEARS_BUILD_MODE', 'YEARS_BUILD_AVG', 'OWN_CAR_AGE', 'LANDAREA_MEDI', 'LANDAREA_MODE', 'LANDAREA_AVG', 'BASEMENTAREA_MEDI', 'BASEMENTAREA_AVG', 'BASEMENTAREA_MODE', 'EXT_SOURCE_1', 'NONLIVINGAREA_MODE', 'NONLIVINGAREA_AVG', 'NONLIVINGAREA_MEDI', 'ELEVATORS_MEDI', 'ELEVATORS_AVG', 'ELEVATORS_MODE', 'APARTMENTS_MEDI', 'APARTMENTS_AVG', 'APARTMENTS_MODE', 'ENTRANCES_MEDI', 'ENTRANCES_AVG', 'ENTRANCES_MODE', 'LIVINGAREA_AVG', 'LIVINGAREA_MODE', 'LIVINGAREA_MEDI', 'FLOORSMAX_MODE', 'FLOORSMAX_MEDI', 'FLOORSMAX_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BEGINEXPLUATATION_AVG', 'TOTALAREA_MODE', 'OCCUPATION_TYPE', 'EXT_SOURCE_3', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'EXT_SOURCE_2', 'AMT_GOODS_PRICE', 'AMT_ANNUITY', 'CNT_FAM_MEMBERS', 'DAYS_LAST_PHONE_CHANGE', 'CNT_CHILDREN', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_21', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_12', 'AMT_CREDIT', 'AMT_INCOME_TOTAL', 'FLAG_PHONE', 'LIVE_CITY_NOT_WORK_CITY', 'REG_CITY_NOT_WORK_CITY', 'REG_CITY_NOT_LIVE_CITY', 'LIVE_REGION_NOT_WORK_REGION', 'REG_REGION_NOT_WORK_REGION', 'REG_REGION_NOT_LIVE_REGION', 'HOUR_APPR_PROCESS_START', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'FLAG_EMAIL', 'FLAG_CONT_MOBILE', 'ORGANIZATION_TYPE', 'FLAG_WORK_PHONE', 'FLAG_EMP_PHONE', 'FLAG_MOBIL', 'DAYS_ID_PUBLISH', 'DAYS_REGISTRATION', 'DAYS_EMPLOYED', 'DAYS_BIRTH', 'REGION_POPULATION_RELATIVE', 'SK_ID_CURR', 'WALLSMATERIAL_MODE_Mixed', 'WALLSMATERIAL_MODE_Monolithic', 'WALLSMATERIAL_MODE_NO VALUE', 'WALLSMATERIAL_MODE_Others', 'WALLSMATERIAL_MODE_Panel', 'WALLSMATERIAL_MODE_Stone, brick', 'WALLSMATERIAL_MODE_Wooden', 'NAME_TYPE_SUITE_Family', 'NAME_TYPE_SUITE_Group of people', 'NAME_TYPE_SUITE_NO VALUE', 'NAME_TYPE_SUITE_Other_A', 'NAME_TYPE_SUITE_Other_B', 'NAME_TYPE_SUITE_Spouse, partner', 'NAME_TYPE_SUITE_Unaccompanied', 'NAME_INCOME_TYPE_Commercial associate', 'NAME_INCOME_TYPE_Maternity leave', 'NAME_INCOME_TYPE_Pensioner', 'NAME_INCOME_TYPE_State servant', 'NAME_INCOME_TYPE_Student', 'NAME_INCOME_TYPE_Unemployed', 'NAME_INCOME_TYPE_Working', 'WEEKDAY_APPR_PROCESS_START_MONDAY', 'WEEKDAY_APPR_PROCESS_START_SATURDAY', 'WEEKDAY_APPR_PROCESS_START_SUNDAY', 'WEEKDAY_APPR_PROCESS_START_THURSDAY', 'WEEKDAY_APPR_PROCESS_START_TUESDAY', 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY', 'NAME_HOUSING_TYPE_House / apartment', 'NAME_HOUSING_TYPE_Municipal apartment', 'NAME_HOUSING_TYPE_Office apartment', 'NAME_HOUSING_TYPE_Rented apartment', 'NAME_HOUSING_TYPE_With parents', 'NAME_FAMILY_STATUS_Married', 'NAME_FAMILY_STATUS_Separated', 'NAME_FAMILY_STATUS_Single / not married', 'NAME_FAMILY_STATUS_Unknown', 'NAME_FAMILY_STATUS_Widow', 'FONDKAPREMONT_MODE_not specified', 'FONDKAPREMONT_MODE_org spec account', 'FONDKAPREMONT_MODE_reg oper account', 'FONDKAPREMONT_MODE_reg oper spec account', 'NAME_EDUCATION_TYPE_Higher education', 'NAME_EDUCATION_TYPE_Incomplete higher', 'NAME_EDUCATION_TYPE_Lower secondary', 'NAME_EDUCATION_TYPE_Secondary / secondary special', 'HOUSETYPE_MODE_block of flats', 'HOUSETYPE_MODE_specific housing', 'HOUSETYPE_MODE_terraced house', 'EMERGENCYSTATE_MODE_No', 'EMERGENCYSTATE_MODE_Yes', 'CODE_GENDER_M', 'CODE_GENDER_XNA', 'NAME_CONTRACT_TYPE_Revolving loans', 'FLAG_OWN_CAR_Y', 'FLAG_OWN_REALTY_Y']

In [121]:
# X_train and X_test are encoded DataFrames, and y_train is the target variable

# List of variables for One-Hot Encoding and Target Encoding (already encoded)
one_hot_columns = ['WALLSMATERIAL_MODE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'WEEKDAY_APPR_PROCESS_START', 
                   'NAME_HOUSING_TYPE', 'NAME_FAMILY_STATUS', 'FONDKAPREMONT_MODE', 'NAME_EDUCATION_TYPE', 
                   'HOUSETYPE_MODE', 'EMERGENCYSTATE_MODE', 'CODE_GENDER', 'NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR', 
                   'FLAG_OWN_REALTY']

target_encoding_columns = ['ORGANIZATION_TYPE', 'OCCUPATION_TYPE']

# Identify numerical columns
num_vars = X_train.select_dtypes(include=['float64', 'int64']).columns.difference(one_hot_columns + target_encoding_columns).tolist()

# Align the columns of X_train and X_test to ensure they have the same number of features
X_train_aligned, X_test_aligned = X_train.align(X_test, join='outer', axis=1, fill_value=0)

# Create a pipeline for scaling numerical variables
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), num_vars)  # Scaling numerical variables
    ],
    remainder='passthrough'  # Keep other columns unchanged
)

# Fit the preprocessor on the training set and transform the training and test data
X_train_scaled = preprocessor.fit_transform(X_train_aligned, y_train)
X_test_scaled = preprocessor.transform(X_test_aligned)

# Convert the results to DataFrames
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train_aligned.columns, index=X_train.index)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test_aligned.columns, index=X_test.index)

# Verify the results
print("Scaled training set:")
print(X_train_scaled.head())

print("Scaled test set:")
print(X_test_scaled.head())

Scaled training set:
   AMT_ANNUITY  AMT_CREDIT  AMT_GOODS_PRICE  AMT_INCOME_TOTAL  \
0     0.281381    1.148929         1.052726         -0.129806
1     0.066601    0.400337         0.261622          0.181791
2    -0.357681    0.188944         0.371159          0.302968
3    -0.607532   -0.604334        -0.724215          0.077925
4    -1.194450   -1.241352        -1.186707         -0.320227

   AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_HOUR  \
0                   0.396084                    0.396106
1                   0.396084                    0.396106
2                   0.396084                    0.396106
3                   0.396084                    0.396106
4                   0.396084                    0.396106

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                   0.388315                   0.476703
1                   0.388315                   0.388476
2                   0.417718                   0.388476
3                   0.388315                   0.388476
4                   0.388315                   0.388476

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_YEAR  ...  \
0                    0.395268                    0.485423  ...
1                    0.395268                    0.369822  ...
2                    0.395268                    0.456522  ...
3                    0.395268                    0.369822  ...
4                    0.395268                    0.369822  ...

   WEEKDAY_APPR_PROCESS_START_SUNDAY  WEEKDAY_APPR_PROCESS_START_THURSDAY  \
0                                0.0                                  0.0
1                                0.0                                  0.0
2                                0.0                                  0.0
3                                0.0                                  0.0
4                                0.0                                  0.0

   WEEKDAY_APPR_PROCESS_START_TUESDAY  WEEKDAY_APPR_PROCESS_START_WEDNESDAY  \
0                                 0.0                                   0.0
1                                 0.0                                   0.0
2                                 0.0                                   0.0
3                                 0.0                                   0.0
4                                 0.0                                   0.0

   YEARS_BEGINEXPLUATATION_AVG  YEARS_BEGINEXPLUATATION_MEDI  \
0                          0.0                           0.0
1                          0.0                           0.0
2                          0.0                           0.0
3                          0.0                           0.0
4                          0.0                           0.0

   YEARS_BEGINEXPLUATATION_MODE  YEARS_BUILD_AVG  YEARS_BUILD_MEDI  \
0                      0.114073         0.093540               0.0
1                      0.105268         0.085501               0.0
2                      0.109633         0.105896               0.0
3                      0.105268         0.085501               0.0
4                      0.064711         0.053737               0.0

   YEARS_BUILD_MODE
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0

[5 rows x 176 columns]
Scaled test set:
  AMT_ANNUITY AMT_CREDIT AMT_GOODS_PRICE AMT_INCOME_TOTAL  \
0   -0.399892  -0.817851       -0.845924        -0.181739
1   -0.659675  -0.179827       -0.225211        -0.268294
2    0.583685  -0.369766       -0.237382        -0.129806
3   -0.154696  -0.857117       -0.833753        -0.043251
4   -0.785377  -0.807704       -0.785069        -0.458715

  AMT_REQ_CREDIT_BUREAU_DAY AMT_REQ_CREDIT_BUREAU_HOUR  \
0                  0.396084                   0.396106
1                  0.396084                   0.396106
2                  0.396084                   0.396106
3                  0.396084                   0.396106
4                  0.396084                   0.396106

  AMT_REQ_CREDIT_BUREAU_MON AMT_REQ_CREDIT_BUREAU_QRT  \
0                  0.388315                  0.447294
1                  0.388315                  0.388476
2                  0.388315                  0.447294
3                  0.388315                  0.388476
4                  0.388315                  0.447294

  AMT_REQ_CREDIT_BUREAU_WEEK AMT_REQ_CREDIT_BUREAU_YEAR  ...  \
0                   0.395268                   0.369822  ...
1                   0.395268                   0.456522  ...
2                   0.395268                   0.369822  ...
3                   0.395268                   0.398722  ...
4                   0.395268                   0.369822  ...

  WEEKDAY_APPR_PROCESS_START_SUNDAY WEEKDAY_APPR_PROCESS_START_THURSDAY  \
0                        Cash loans                   Incomplete higher
1                        Cash loans       Secondary / secondary special
2                        Cash loans       Secondary / secondary special
3                        Cash loans                    Higher education
4                        Cash loans       Secondary / secondary special

  WEEKDAY_APPR_PROCESS_START_TUESDAY WEEKDAY_APPR_PROCESS_START_WEDNESDAY  \
0                     Civil marriage                    House / apartment
1                            Married                    House / apartment
2                     Civil marriage                    House / apartment
3                            Married                    House / apartment
4                     Civil marriage                    House / apartment

  YEARS_BEGINEXPLUATATION_AVG YEARS_BEGINEXPLUATATION_MEDI  \
0                     Working                Unaccompanied
1                     Working                Unaccompanied
2                     Working                Unaccompanied
3        Commercial associate                Unaccompanied
4                   Pensioner                Unaccompanied

  YEARS_BEGINEXPLUATATION_MODE YEARS_BUILD_AVG YEARS_BUILD_MEDI  \
0                   Core staff          School         NO VALUE
1           Low-skill Laborers   Self-employed         NO VALUE
2               Medicine staff        Medicine     Stone, brick
3                     Managers          Police            Panel
4                     NO VALUE             XNA            Panel

  YEARS_BUILD_MODE
0         THURSDAY
1         THURSDAY
2           SUNDAY
3          TUESDAY
4         THURSDAY

[5 rows x 176 columns]

El resultado muestra que las variables numéricas han sido correctamente escaladas y las columnas están adecuadamente alineadas en los conjuntos de entrenamiento y prueba. Esto es un buen indicio de que el proceso de preprocesamiento ha sido exitoso y los datos están listos para ser utilizados en el modelado.

### Escalado de variables numéricas:

* Variables como AMT_ANNUITY, AMT_CREDIT, AMT_GOODS_PRICE, AMT_INCOME_TOTAL, etc., se han escalado, lo que se refleja en los valores transformados (por ejemplo, los valores ahora están centrados en torno a cero y una desviación estándar de 1).

### Consistencia entre los conjuntos de datos:

* Las columnas y sus valores en ambos conjuntos de datos (X_train y X_test) están correctamente alineados, lo que garantiza que los modelos de machine learning puedan entrenarse y evaluarse sin problemas de desajuste de columnas.

### Protección de principios de ciencia de datos y aprendizaje automático:

* Se han respetado los principios al tratar adecuadamente las variables categóricas con One-Hot Encoding y Target Encoding, y al escalar solo las variables numéricas.

In [123]:
# Verify the mean and standard deviation
print("Statistics of the scaled training set:")
print(X_train_scaled.describe())

print("Statistics of the scaled test set:")
print(X_test_scaled.describe())

Statistics of the scaled training set:
        AMT_ANNUITY    AMT_CREDIT  AMT_GOODS_PRICE  AMT_INCOME_TOTAL  \
count  2.460080e+05  2.460080e+05     2.460080e+05      2.460080e+05
mean   9.901062e-17 -1.173892e-16    -1.056808e-16     -5.654733e-17
std    1.000002e+00  1.000002e+00     1.000002e+00      1.000002e+00
min   -1.875412e+00 -1.375443e+00    -1.454733e+00     -5.504633e-01
25%   -7.301300e-01 -8.167332e-01    -8.094111e-01     -2.163613e-01
50%   -1.512815e-01 -2.120085e-01    -2.373821e-01     -8.999114e-02
75%    5.175756e-01  5.208170e-01     3.833301e-01      1.298583e-01
max    1.592798e+01  8.569584e+00     9.499281e+00      4.494364e+02

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_HOUR  \
count               2.460080e+05                2.460080e+05
mean                1.518158e-17                6.726830e-17
std                 1.000002e+00                1.000002e+00
min                -2.523377e+00               -2.523383e+00
25%                 3.960838e-01                3.961062e-01
50%                 3.960838e-01                3.961062e-01
75%                 3.960838e-01                3.961062e-01
max                 6.614894e-01                5.140653e-01

       AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
count               2.460080e+05               2.460080e+05
mean                4.094153e-18               2.479598e-17
std                 1.000002e+00               1.000002e+00
min                -2.522603e+00              -2.523036e+00
25%                 3.883151e-01               3.884757e-01
50%                 3.883151e-01               3.884757e-01
75%                 3.883151e-01               3.884757e-01
max                 1.182202e+00               9.472506e-01

       AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_YEAR  ...  \
count                2.460080e+05                2.460080e+05  ...
mean                 1.119213e-17                3.420098e-17  ...
std                  1.000002e+00                1.000002e+00  ...
min                 -2.523349e+00               -2.520198e+00  ...
25%                  3.952678e-01                3.409217e-01  ...
50%                  3.952678e-01                3.698219e-01  ...
75%                  3.952678e-01                4.276223e-01  ...
max                  6.311156e-01                1.063427e+00  ...

       WEEKDAY_APPR_PROCESS_START_SUNDAY  WEEKDAY_APPR_PROCESS_START_THURSDAY  \
count                           246008.0                             246008.0
mean                                 0.0                                  0.0
std                                  0.0                                  0.0
min                                  0.0                                  0.0
25%                                  0.0                                  0.0
50%                                  0.0                                  0.0
75%                                  0.0                                  0.0
max                                  0.0                                  0.0

       WEEKDAY_APPR_PROCESS_START_TUESDAY  \
count                            246008.0
mean                                  0.0
std                                   0.0
min                                   0.0
25%                                   0.0
50%                                   0.0
75%                                   0.0
max                                   0.0

       WEEKDAY_APPR_PROCESS_START_WEDNESDAY  YEARS_BEGINEXPLUATATION_AVG  \
count                              246008.0                     246008.0
mean                                    0.0                          0.0
std                                     0.0                          0.0
min                                     0.0                          0.0
25%                                     0.0                          0.0
50%                                     0.0                          0.0
75%                                     0.0                          0.0
max                                     0.0                          0.0

       YEARS_BEGINEXPLUATATION_MEDI  YEARS_BEGINEXPLUATATION_MODE  \
count                      246008.0                 246008.000000
mean                            0.0                      0.080729
std                             0.0                      0.021974
min                             0.0                      0.048017
25%                             0.0                      0.064711
50%                             0.0                      0.064711
75%                             0.0                      0.105268
max                             0.0                      0.176295

       YEARS_BUILD_AVG  YEARS_BUILD_MEDI  YEARS_BUILD_MODE
count    246008.000000          246008.0          246008.0
mean          0.080728               0.0               0.0
std           0.019920               0.0               0.0
min           0.003162               0.0               0.0
25%           0.059254               0.0               0.0
50%           0.085501               0.0               0.0
75%           0.093540               0.0               0.0
max           0.161426               0.0               0.0

[8 rows x 176 columns]
Statistics of the scaled test set:
         AMT_ANNUITY    AMT_CREDIT  AMT_GOODS_PRICE  AMT_INCOME_TOTAL  \
count   61503.000000  61503.000000     61503.000000      61503.000000
unique   9458.000000   3618.000000       547.000000        852.000000
top        -1.247835     -0.369766        -0.237382         -0.129806
freq     1324.000000   2011.000000      5191.000000       7068.000000

        AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_HOUR  \
count                61503.000000                61503.000000
unique                   8.000000                    5.000000
top                      0.396084                    0.396106
freq                 53064.000000                53021.000000

        AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
count                61503.000000               61503.000000
unique                  19.000000                  11.000000
top                      0.388315                   0.388476
freq                 44676.000000               43121.000000

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_YEAR  ...  \
count                 61503.000000                61503.000000  ...
unique                    8.000000                   19.000000  ...
top                       0.395268                    0.340922  ...
freq                  51670.000000                14226.000000  ...

        WEEKDAY_APPR_PROCESS_START_SUNDAY  \
count                               61503
unique                                  2
top                            Cash loans
freq                                55536

        WEEKDAY_APPR_PROCESS_START_THURSDAY  \
count                                 61503
unique                                    5
top           Secondary / secondary special
freq                                  43715

        WEEKDAY_APPR_PROCESS_START_TUESDAY  \
count                                61503
unique                                   5
top                                Married
freq                                 39291

        WEEKDAY_APPR_PROCESS_START_WEDNESDAY  YEARS_BEGINEXPLUATATION_AVG  \
count                                  61503                        61503
unique                                     6                            7
top                        House / apartment                      Working
freq                                   54608                        31750

        YEARS_BEGINEXPLUATATION_MEDI  YEARS_BEGINEXPLUATATION_MODE  \
count                          61503                         61503
unique                             8                            19
top                    Unaccompanied                      NO VALUE
freq                           49626                         19449

               YEARS_BUILD_AVG  YEARS_BUILD_MEDI  YEARS_BUILD_MODE
count                    61503             61503             61503
unique                      58                 8                 7
top     Business Entity Type 3          NO VALUE           TUESDAY
freq                     13395             31336             10787

[4 rows x 176 columns]

# Conclusiones finales del EDA disponibles en la carpeta ''reports''

# Guardado de las tablas

In [125]:
# Save the preprocessed DataFrames to CSV files
X_train_scaled.to_csv("../data/preprocessed_data/X_train_preprocessing_scaled.csv", index=False)
X_test_scaled.to_csv("../data/preprocessed_data/X_test_preprocessing_scaled.csv", index=False)

# Save y_train and y_test
y_train.to_csv("../data/preprocessed_data/y_train_preprocessing_scaled.csv", index=False)
y_test.to_csv("../data/preprocessed_data/y_test_preprocessing_scaled.csv", index=False)

# Verify the results of the operation
print("CSV files successfully created and saved.")

CSV files successfully created and saved.